body {
  color: 'var(--semi-color-text-0)';
  background-color: 'var( --semi-color-bg-0)';
}
.layout{
  .header{
    width: 100%;
    height: 60px;
    color: 'var(--semi-color-text-0)';
    background-color: 'var( --semi-color-bg-0)';
    border-bottom: 1px solid var(--semi-color-border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    .logo{
      display: flex;
      align-items: center;
      .logimg{
        width: 40px;
      }
      .app-title{
        font-weight: bold;
        font-size: 18px;
        margin-left: 10px;
      }
    }
    
    .header-right{
      display: flex;
      .language-btn{
        display: flex;
        align-items: center;
      }
    }
  }
}